@media only screen and (max-width: 520px) {
    
   .celek {
        position: absolute;
        top: 35%;
        left: 0%;
        transform: translate(0%, 0%);
        width: 100%;
}
    
    .celek h1 {
        text-align: center;
}

    
    
   
    
    .pic1 {
        width: 100%;
        border: 1px solid goldenrod;
    }
    
    .two-images .col {
        margin-left: 0;
    }
   
    

    
    
    
}