@media only screen and (min-width: 100px) and (max-width: 520px) {
    
   
    .celek {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-48%, -32%);
    }
    
    
    .tlacitka {
        display: inline-flex;
        position: absolute;
        top: 85%;
        left: 0%;
        transform: translate(14%, 15%);
}
    
    .pic1 {
        width: 100%;
        border: 1px solid goldenrod;
    }
    
    .two-images .col {
        margin-left: 0;
    }
   
    

    
    
    
}