* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------------reusable-------------------*/
.row {
    max-width: 900px;
    margin: 0px auto;
}

header {
    background: url(../images/music/Queen2.png);
    background-size: cover;
    height: 100vh;
}

main {
    background: url(../images/music/sec.png);
    background-size: cover;
    background-attachment: fixed;
}

.celek {
    position: absolute;
    top: 70%;
    left: 77%;
    transform: translate(-40%, -50%);
}

.celek h1 {
    color: #ffffff00;
    font-family: The Queen;
    font-size: 50px;
    text-shadow: 3px 0px 1px #e9e7dfb5;
}

.celek h2 {
    color: #ffffff00;
    font-family: The Queen;
    font-size: 30px;
    text-shadow: 3px 0px 1px #e9e7df94;
    text-align: center;
    padding-top: 10px;
    
}


/*---------TLAČÍTKA------*/






/*----------------dva obrazky-------------------*/

.two-images  {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.two-images img {
    width: 100%;
    height: 246px;
}


















/*.clearfix:after {
content: "";
display: table;
clear: both;
}*/

/*-------------------reusable-------------------
.row {
    width: 900px;
    margin: 0px auto;
}*/

/*.clearfix {zoom: 1}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}*/